<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="assets/users/brandon.png">
    </ion-thumbnail>
    <ion-title slot="end">
      <span class="name-text">Brandon Sullivan</span> <br>
      Get Your Shit Together    
    </ion-title>
  </ion-toolbar>
  <div class="right-align">
    <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="myDate" readonly="true"></ion-datetime>
  </div>
</ion-header>

<ion-content fullscreen>
  <div class="center">
    Brandon, you've got shit to do today.
  </div>      
    <ion-card>
        <img src="assets/images/dog.png">
        <ion-card-header>
          <ion-card-title>Walk this assclown</ion-card-title> 
        </ion-card-header>
        <ion-card-content>
          "Walk your POS before I do it for you"
          <ion-chip>
            <ion-avatar>
              <img src="assets/users/max.jpg">
            </ion-avatar>
            <ion-label>Max Cannon</ion-label>
          </ion-chip>
        </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/images/assignment.png">
      <ion-card-header>
        <ion-card-title>Finish this damn assignment</ion-card-title> 
      </ion-card-header>
      <ion-card-content>
        "Doing this will make you suck less."
        <ion-chip>
          <ion-avatar>
            <img src="assets/users/adam.jpg">
          </ion-avatar>
          <ion-label>Adam Bennett</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>

    <ion-card>
    <img src="assets/images/jogging.png">
    <ion-card-header>
      <ion-card-title>Get off your phone and run 2 miles</ion-card-title> 
    </ion-card-header>
    <ion-card-content>
      "Yooooo! Let's goooo!"
      <ion-chip>
        <ion-avatar>
          <img src="assets/users/jarne.jpg">
        </ion-avatar>
        <ion-label>Jarne Sennesael</ion-label>
      </ion-chip>
    </ion-card-content>
    </ion-card>
   
</ion-content>



   
