<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="assets/users/brandon.png">
    </ion-thumbnail>
    <ion-title slot="end">
      <span class="name-text">Brandon,</span> <br>
      What are your lazy ass friends doing today?
    </ion-title>
  </ion-toolbar>
  <div class="right-align">
    <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="myDate" readonly="true"></ion-datetime>
  </div>
</ion-header>

<ion-content fullscreen>
  <div class="center">
    Tap an image to "encourage" your so-called friends.
  </div>      
    <ion-card>
        <img src="assets/images/smoothieguy.png">
        <ion-card-header>
          <ion-card-title style="text-align:right;">Mike wants to make veggie smoothies</ion-card-title> 
        </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/images/guitargirl.png">
      <ion-card-header>
        <ion-card-title style ="text-align:right;">Allison is working on her chords.</ion-card-title> 
      </ion-card-header>
    </ion-card>

    <ion-card>
    <img src="assets/images/volunteergirl.png">
    <ion-card-header>
      <ion-card-title style ="text-align: right;">Sammy is doing volunteer work.</ion-card-title> 
    </ion-card-header>
    </ion-card>
   
</ion-content>



   
